$blue: #36aeea;
$lite-blue: #56c7ff;
$cyan-tw: #29c5f6;
$blue-fb: #6788ce;
$blue-li: #54769a;
$blue-num: #7ec6d6;
$white: #ffffff;
$mude-white: #f6f4f4;
$grey: #95a5ad;
$grey-text: #949494;
$lite-grey: #e3e2e1;
$tile-circle: #f0f3f6;
$dark-grey: #2c2e37;
$map: #e5f2fc;
$footer: #3f616b;