*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	background-color: #3399cc;
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
	margin: 0;
}
.frame {
	border: 17px solid #2b81ac;
}
.position {
	margin: auto;
	width: 690px;
}
.title {
	margin: 26px 0 26px 0;
	font-size: 27px;
}
.mainblock {
	width: 690px;
	height: 437px;
	margin: auto;
	text-align: center;
	border: 2px solid #ffffff;
}
.mediumblock,
.smallblock,
.fullblock {
	opacity: 0.3;
}

.mediumblock:hover,
.smallblock:hover,
.fullblock:hover {
	opacity: 1;
	cursor: pointer;
}

.mainblock div {
	border: 2px solid #ffffff;
	float: left;
}
.fullblock {
	width: 100%;
	height: 25%;
}
.mediumblock {
	width: 50%;
	height: 25%;
}
.smallblock {
	width: 25%;
	height: 25%;
}
.lisbon {
	background-color: #3399cc;
}
.paris {
	background-color: #33cccc;
}
.belgrade {
	background-color: #996699;
}
.moscow {
	background-color: #c24747;
}
.tel-aviv {
	background-color: #e2674a;
}
.cair {
	background-color: #ffcc66;
}
.ny {
	background-color: #99cc99;
}
.nd {
	background-color: #669999;
}
.sf {
	background-color: #cc6699;
}
.tokyo {
	background-color: #339966;
}
.sydney {
	background-color: #666699;
}
.bottomtext {
	font-size:17px;
	margin: 26px 0 100px 0;
}